<div class="center">
    <section id="content">
        <article class="article-item article-detail" v-if="article">
            <div class="image-wrap" v-if="article.image">
                <img :src="url + 'get-image/' + article.image" :alt="article.title" />
            </div>
            <h1 class="subheader">{{ article.title }}</h1>
            <span class="date">{{ article.date | moment("from") }}</span>
            <p>{{ article.content }}</p>
            <div class="clearfix"></div>
            <router-link :to="'/editar/'+article._id" class="btn btn-warning">Editar</router-link>
            <a @click="deleteArticle(article._id)" class="btn btn-danger">Borrar</a>
        </article>
        <Sidebar></Sidebar>
    </section>
</div>